/*
 * This file is part of Moodle - http://moodle.org/
 *
 * Moodle is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Moodle is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
*/

.card-header {
    background-color: #1177d1 !important;
    color: #fff !important;
}
.card-header: title {
    content: '';
    display: 'none';
}
.card-header:after {
    content: '\2212';
    color: #0f77d1;
    font-weight: bold;
    float: right;
    background: #fff;
    font-size: 20px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    text-align: center;
    line-height: 22px;
    margin: 0 -7px 0 0;
}
.managebody {
    padding: 20px 20px 20px 20px;
    border: 1px solid #dfdfdf;
    margin: -3px 1px 0 1px;
}
.collapsed .card-header:after {
    content: '\002B';
    color: #0f77d1;
    font-weight: bold;
}
.card-link .collapsed {
    color: #fff;
}
.modal-header h4 {
    float: left;
}
.mangesession {
    color: #fff;
}
.mangesession:disabled {
    color: #000;
}
.mangesession {
    color: #fff;
}

#buttoneditmenuend {
    background-color: #fff;
    border-color: #1177d1;
    color:#000;
}
#buttoneditmenuend:hover {
    background-color: #fff;
}
.btn-secondary:active:hover {
    background-color: #fff;
}
.modal-dialog {
    max-width: 650px;
}
.popuptable {
    margin-left: 10px;
}
.modal-header h4 {
    float: left;
}
.modal-body table th {
    width: 100px;
}
.custombody table th {
    width: 180px;
}
#search {
    max-width: 20%;
    float: right;
}

/* Add Session, Add Classroom And Add Location Button CSS. */
.addbtn {
    float: left;
}
.nodatatodisplay {
    color: #3a3d3e;
}
.substr {
    cursor: pointer;
    font-weight: bold;
}
.noactive {
    background-color: gray;
    padding: 5px;
}
.assingspan {
    padding: 5px;
    background-color: #1177d1;
}
.assingspan a {
    color: #fff;
    text-decoration: none;
}
.nodata {
    display: none;
}

/*
    Session Page
*/
.charpostion {
    float: right;
    width: 45%;
    font-size: 10px;
}

.characterlable {
    float: right;
    width: 61%;
    font-size: 10px;
}

/*
    MAP - Location Page
*/
#map {
    height: 200px;
}

a .icondective {
    color: #1177d1;
}

a .iconactive {
    color: #262626;
    cursor: text;
}
.valign td {
    vertical-align: text-top;
    background: #fff;
    border: 1px solid #dfdfdf;
    padding: 5px 10px;
    width: 25%;
}